.list {
  color: #333;
  text-align: left;
  list-style-type: none;
  font-size: 1.5em;
  padding: 0;
  flex: 1;
  margin: 0;
}

.list-item {
  padding-left: 1.25em;
  cursor: pointer;
  position: relative;
}

.list-item.is-selected:after {
  background: url('checkmark.svg');
  background-size: 100%;
  content: ' ';
  display: block;
  height: 0.7em;
  left: -0.25em;
  position: absolute;
  top: 0.5em;
  width: 0.75em;
}

.list-item.is-selected {
  color: #5A56FD;
}
