.button {
  padding: 0.188em;
  width: 100%;
  border-radius: 0.5em;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: "Saira Condensed";
  background-color: #5A56FD;
  -webkit-appearance: none;
  -moz-appearance: none;
}
